@charset "UTF-8";
/* 
em HTML é id = em CSS é #. Só pode um elemento
em HTML é class = em CSS é (.). Pode vários elementos
*/

body {
    background-color: rgb(160, 241, 160);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(9, 94, 9);
}

h1#principal {
    text-align: center;
    background-color: rgb(9, 94, 9);
    color: white;
}

h2 {
    color: rgb(14, 146, 14);
}

.basico{
    color: rgb(68, 155, 68);
}

.intermediario {
    color: rgb(203, 206, 34);
}

.avancado {
    color: rgb(190, 39, 39);
}

.destaque {
    background-color: rgba(172, 172, 82, 0.541);
}