@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

:root {
    --fonte01: 'Passion One', cursiva;;
    --fonte02: 'Sriracha', cursiva;
}

header > h1 {
    font-family: var(--fonte01);
}